@model Paginacion<SistemaUTH.Models.Estudiante>
<!--Estudiantes-->
@{
    ViewData["Title"] = "Estudiantes";
}

<h2>Estudiantes</h2>
<div class="row">
    <div class="col-sm-3">
        <p>
            <a asp-action="Create" class="btn btn-primary">Nuevo estudiante</a>
        </p>
    </div>
    <div class="col-sm-9">
        <form asp-action="Index" method="get">
            <p>
                Filtro: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" name="Buscar" value="Buscar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Mostrar todos</a>
            </p>
        </form>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>Matricula</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Nombre
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ApellidosSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Descripción
                </a>
            </th>
            <th>
                Estado
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.EstudianteID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EstudianteID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.EstudianteID">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var preDisabled = !Model.hasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.hasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-sm-1">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="(@Model.PageIndex-1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger @preDisabled">Previa</a>
    </div>
    <div class="col-sm-10">
        @for (int i = 1; i < Model.TotalPage; i++)
        {
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@i"
               asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-info">@i</a>
        }
    </div>
    <div class="col-sm-1">  
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="(@Model.PageIndex+1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-success @nextDisabled">Siguiente</a>
    </div>

</div>
